apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-ltpsbmss
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-ltpsbmss:debc0ec1a0396e3f85297cc8b5cd2b5b3dccdfce@sha256:04aedaaf55a93caa6323f1ca827a2a039af2acab126dc90a1ae2bf8a165ada43
          name: container-image
